.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
  width: 85%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 4px #aaa;
  padding: 15px;
  display: grid;
  grid-template-rows: repeat(5, auto);
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px){
  form{
    width: 450px;
  }
}
.form__btn{
  align-self: flex-end;
  margin-top: 5px;
  text-align: center;
  width: 70%;
}
input{
  justify-self: center;
  font-size: 25px;
}
form div{
  width: 80%;
  margin: 8px 0 ;
}
.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
  width: 100%;
  height:100vh;
  position:absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.error-text{
  font-weight: bold;
}